<% provide(:title, @search_title) %>
<h1><%= @search_title %></h1>

<div class="col-md-10 col-md-offset-1">
  <%= form_tag(users_path, method: :get, class: "form-inline") do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "ユーザー名を入力" %>
    </div>
    <%= submit_tag "検索", class: "btn btn-primary" %>
  <% end %>
  
  <%= will_paginate @users, previous_label: "前", next_label: "次" %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
          <%= " | " unless current_user.admin? %>
          <% if current_user.admin? && !current_user?(user) %> | 
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-link btn-delete" %>
          <% end %>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @users, previous_label: "前", next_label: "次" %>
</div>

<!--モーダルウインドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->